/*Font family 
For heading : 'Roboto+Condensed', sans-serif;
For Navbar : 'Arvo', serif;;
*/






.homepage{
	height:60vh;
	background-image: url(../img/homepagebg.jpg);
	background-position: center center;
}
.heading-box{
	height:60vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.heading-box div{
	color:white;
	background-color: rgba(0,0,0,0.8);
	padding:10px 50px;
	text-align: center;
}
.nav-list-items{
	list-style: none;
	display: inline-block;
	font-size:18px;
	margin-left: 15px;
}
.nav-list-items a{
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-family: 'Arvo', serif;
}
.nav-list-items a:hover{
	color:#f1c40f;
}

.nav-ul-box{
	height: 80px;
	line-height:60px;
	padding-right: 30px;
}
.heading{
	margin-top:0px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;

}
.navbar{
	height:80px;
	background-color: 

}
.homesection1{
	height:100vh;
}

.profileimage{
	height:40vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.profileimage img{
	border-radius:50%;
	height:35vh;
}
.leftprofile{
	height:40vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.rightprofile{
	height:40vh;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
/*.....................Work section styles starts here.............................*/
.work{
	height: 100vh;
	background-color:#222930;
}
.modalcolor{
	background-color:rgba(0,0,0,0.5);
	color:#fff;

}
#modal1{
	max-width:560px;
}
.skills{
	height:150px;
}

/*..........................Work Styles Ends here ..................................*/

/*.............................Contact Styles here...... ...........................*/
.contact{
	height:100vh;
	background-color:#E4DBBF;
}

/*.........................Contact Styles Ends here.................................*/










